.right-hero {
  .carousel-caption {
    position: static;
    color: black;
    margin-bottom: 30px;
  }
  .carousel-indicators li {
    background-color: rgb(58, 224, 224);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 20px;
  }

  p {
    color: rgb(58, 224, 224);
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
}

.left-hero {
  h1 {
    font-weight: 400;
  }
}
